# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo
next-env.d.ts

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/dev.db*

# testing
coverage/
.nyc_output/
playwright-report/
playwright/.cache/
test-results/
blob-report/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# misc
.vercel
.turbo
*.pem
*.key

.pgdata/
# فقط پوشه‌ی آپلودِ ریشه، نه هر پوشه‌ای به نام uploads
/uploads/
